.button{
    border:var(--border);
    height: 40px;
    width: auto;
    padding: 16px 28px;
    border-radius: 8px;
    font-family: var(--font-unbounded-family);
    font-weight: var(--font-unbounded-weight-bold);

    &.red{
        background-color: var(--color-red);
    }
    &.grey{
        background-color: var(--color-grey-3);
    }
}
