.button{
    border:var(--border);
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: var(--font-unbounded-family);
    font-weight: var(--font-unbounded-weight-bold);
    box-sizing: border-box;
    color: var(--color-white);

    &.red{
        background-color: var(--color-red);
    }
    &.grey{
        background-color: var(--color-grey-3);
    }
}
