.rates{
    width: 410px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border: var(--border);
    box-sizing: border-box;
}
.head{
    width: 346px;
    height: 120px;
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.them{
    color: var(--color-red);
    font-size: 12px;
    font-weight: var(--font-unbounded-weight-bold);
}
.name{
    font-size: 20px;
    font-weight: var(--font-unbounded-weight-black);
}
.price{
    font-size: 32px;
    font-weight: var(--font-unbounded-weight-black );
}
.button{
    padding: 14px 0px;
    font-size: 13px;
    color: var(--color-white);
}
.ul{
    list-style-image: url('@/shared/assets/icon-list.svg');
    color: var(--color-red);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}