.rates{
    width: 410px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    box-sizing: border-box;
    border-radius: 16px;
}
.grey{
    background-color: var(--color-grey-2);
    border: var(--border);
}
.red{
    background-color: var(--color-red-2);
    border: var(--border-2);
}
.head{
    width: 346px;
    height: 120px;
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.subHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.them{
    color: var(--color-red);
    font-size: 12px;
    font-weight: var(--font-unbounded-weight-bold);
    display: flex;
    justify-content: space-between;
}
.hit{
    width: 45px;
    height: 20px;
    background-color: var(--color-red);
    font-weight: var(--font-unbounded-weight-black);
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.name{
    font-size: 20px;
    font-weight: var(--font-unbounded-weight-black);
}
.price{
    font-size: 32px;
    font-weight: var(--font-unbounded-weight-black );
}
.button{
    padding: 14px 0px;
    font-size: 13px;
    color: var(--color-white);
}
.ul{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    & > li{
        position: relative;
        padding-left: 28px;
    }
    & > li::before{
        position: absolute;
        content: '';
        mask: url('@/shared/assets/Vector.svg'), no-repeat, center / contain;
        width: 16px;
        height: 16px;
        left: 0;
    }
}
.text{
    font-size: 13px;
} 