.container{
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 65px;
}
.plateCont{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}