.category{
    width: 1280px;
    display: flex;
    flex-direction: column;
    row-gap: 65px;
}
.rates{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 24px;
}